<!-- Experience section with responsive margins -->
<section
  id="experience"
  class="mb-8 scroll-mt-16 md:mb-12 lg:mb-18 lg:scroll-mt-24 py-2"
>
  <!-- Sticky header with responsive visibility -->
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:relative lg:top-auto lg:w-full"
  >
    <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200">
      {{ "EXPERIENCE_TITLE" | translate }}
    </h2>
  </div>
  <!-- Experience list with vertical spacing -->
  <div class="space-y-12 experience-list">
    <!-- Experience item with hover effects -->
    <div
      *ngFor="let job of experience"
      class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50 experience-item"
    >
      <!-- Hover background overlay -->
      <div
        class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block dark:lg:group-hover:bg-d-background-card-hover lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
      ></div>
      <!-- Job period and contract type -->
      <header
        class="z-10 mb-2 mt-1 text-xs font-semibold tracking-wide dark:text-d-text-secondary sm:col-span-2"
      >
        <!-- Job period -->
        <p class="uppercase">
          {{ job.EXPERIENCE_PERIOD | translate }}
        </p>
        <!-- Contract type -->
        <p class="py-2">
          {{ job.EXPERIENCE_TYPECONTRACT | translate }}
        </p>
      </header>

      <!-- Job details -->
      <div class="z-10 sm:col-span-6">
        <!-- Job title and company -->
        <h3 class="font-medium leading-snug dark:text-d-text-heading">
          <a
            target="_blank"
            [href]="job.EXPERIENCE_COMPANYLINK | translate"
            class="inline-flex items-baseline font-medium leading-tight text-d-text-heading dark:hover:text-d-text-hover-accent dark:focus-visible:text-teal-d-text-hover-accent group/link"
          >
            <!-- Hover hit area -->
            <span
              class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
            ></span>
            {{ job.EXPERIENCE_TITLE | translate }} ·&nbsp;
            <span class="inline-block">
              {{ job.EXPERIENCE_COMPANY | translate }}</span
            >
            <!-- Link arrow icon -->
            <svg
              class="ml-1 inline-block h-4 w-4 shrink-0 transition-transform group-hover:-translate-y-0.5 group-hover:translate-x-0.5 dark:text-d-text-hover-accent"
              fill="currentColor"
            >
              <path
                d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
              />
            </svg>
          </a>
        </h3>

        <!-- Job description -->
        <p class="mt-2 text-sm leading-normal">
          {{ job.EXPERIENCE_DESCRIPTION | translate }}
        </p>

        <!-- Job technologies -->
        <ul class="mt-2 flex flex-wrap">
          <!-- Technology tag -->
          <li
            *ngFor="let tech of job.EXPERIENCE_TECNOLOGIES"
            class="mr-1.5 mt-2"
          >
            <div
              class="flex items-center rounded-full dark:bg-d-badge-tech-background px-3 py-1 text-xs font-medium leading-5 dark:text-d-text-hover-accent"
            >
              {{ tech }}
            </div>
          </li>
        </ul>
        <!-- Other skills or methodologies -->
        <ul class="mt-2 flex flex-wrap">
          <!-- Skill tag -->
          <li *ngFor="let other of job.EXPERIENCE_OTHERS" class="mr-1.5 mt-2">
            <div
              class="flex items-center rounded-full dark:bg-d-badge-tech-background px-3 py-1 text-xs font-medium leading-5 dark:text-d-badge-other-text"
            >
              {{ other }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
