/* Transition for project list items */
.projects-list li {
  transition: transform 0.1s;
}

/* Hover transform for project items */
.projects-list li:hover {
  transform: translateX(10px);
}

/* Opacity transition for project items */
.projects-list .projects-item {
  transition: opacity 0.1s ease;
}

.proj-butt {
  border-radius: 10px;
  transition: border-color 0.2s ease-in-out;
  border: 1px solid transparent;
}

.proj-butt:hover {
  border-color: var(--color-d-text-hover-accent);
  color: var(--color-d-text-hover-accent);
}

@media (min-width: 639px) {
  /* Reduce opacity for all items on list hover */
  .projects-list:hover .projects-item {
    opacity: 0.5;
  }

  /* Restore full opacity for hovered item */
  .projects-list .projects-item:hover {
    opacity: 1 !important;
  }
}

@media (min-width: 285px) and (max-width: 639px) {
  .proj-butt-wrapper {
    flex-direction: row;
  }

  .butt-end {
    justify-content: end;
  }
}