/* Set maximum width to 1280px */
.max-w-screen-xl {
  max-width: 1280px;
}

/* Set minimum height to full viewport */
.min-h-screen {
  min-height: 100vh;
}

/* Debounced styles */

.projects-item:hover,
.projects-item.hovered {
  /* Apply your hover styles here */
  opacity: 1 !important; /* Or whatever your hover effect is */
}

.projects-item.hovered .lg\:group-hover\/list\:opacity-50 {
  opacity: 0.5 !important; /* Revert the list hover opacity */
}

.projects-item.hovered .lg\:group-hover\/list\:border-slate-200\/30 {
  border-color: rgba(148, 163, 184, 0.1); /* Revert the list hover border */
}

.experience-item:hover,
.experience-item.hovered {
  /* Apply your hover styles here */
  opacity: 1 !important; /* Or whatever your hover effect is */
}

.experience-item.hovered .lg\:group-hover\/list\:opacity-50 {
  opacity: 0.5 !important; /* Revert the list hover opacity */
}

.experience-item.hovered .lg\:group-hover\/list\:border-slate-200\/30 {
  border-color: rgba(148, 163, 184, 0.1); /* Revert the list hover border */
}

/* Cursor Gradient */

.home-gradient {
  --cursor-radius: 600px;
  /* Gradient position */
  background: radial-gradient(
    var(--cursor-radius) circle at var(--cursor-x) var(--cursor-y),
    rgba(29, 78, 216, 0.15),
    transparent 80%
  );
}
